.sectionContainer {
  max-width: 980px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.sectionTitle {
  font-size: 28px;
  font-weight: bold;
}

.entryTitle {
  font-size: 22px;
  font-weight: bold;
}

.entryTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.entryDate {
  font-size: 20px;
  color: #002f34;
  opacity: 0.64;
}

.entryContainer {
  margin-top: 20px;
}

.entrySubtitle {
  font-size: 20px;
  color: #002f34;
  opacity: 0.64;
}

.entryDetails {
  font-size: 20px;
  color: #002f34;
  opacity: 0.64;
  margin-top: 6px;
}
